      <div class="Footer">
        <a href="https://github.com/cvuong"><img src="images/github.svg" /></a>
        <a href="https://www.linkedin.com/in/charlievuong"><img src="images/linkedin.svg" /></a>
        <a href="https://twitter.com/charlesvuong"><img src="images/twitter.svg" /></a>
      </div>
    </div>
  </body>
</html>
