      <div class="Footer">
        <img src="images/github.svg" />
        <img src="images/linkedin.svg" />
        <img src="images/twitter.svg" />
        <img src="images/instagram.svg" />
      </div>
    </div>
  </body>
</html>
