<%- include('partials/header'); %>
<div class="Main">
  <div class="Content">
    <h1>Contact</h1>
    <p>
      Please send me an email at me@charlievuong.com
    </p>
  </div>
</div>
<%- include('partials/footer') %>
