<%- include('partials/header'); %>
<div class="Main">
  <div class="Content">
    <h1>Charlie Vuong</h1>
    <p>
      I'm a frontend software engineer at Upthere working on a React/Redux stack.
    </p>
    <p>
      I'm learning to build user experiences with Sketch.
    </p>
    <p>
      I studied Computer Science at Stanford University with a concentration on Human-Computer Interaction.
    </p>
    <p>
      I train Brazilian Jiu Jitsu at Caio Terra Academy in San Jose, CA.
    </p>
  </div>
</div>
<%- include('partials/footer') %>
